section#high {background-color: red;
text-color: white;
}
section#medium {background-color: orange;
text-color: white;
}
section#low {background-color: gray;
text-color: black;
}
section#done {background-color: black;
text-color: cyan;
}
