nav {
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #cccccc;
  width:100%;
  height: 20px;
  text-align: center;
  }
section {
  width: 50%;
  top: 20px;
  border: 10pt solid black;
  height: 250px;
}
section#left {
  float:left;
}
section#right {
  background-color:gray;
  float:right;
}
footer {
background-color: blue;
width: 100%;
height: 20px;
clear: both;
margin: 0px;
}
