nav {
  display: inline;
  position: fixed;
  height: 20px;
  background-color: gray;
  }
section#left {
  float: left;
    width: 50%;
  margin: 20px;
  border: 1pt black;
  }
section#right {
  float: right;
    width: 50%;
  margin: 20px;
  border: 1pt black;
  }
footer {
background-color: blue;
width: 100%;
height: 20px;
clear: both;
margin: 0px;
}
