ul {
list-style-type: none;
}
body {background-color: black;
border: 3pt solid white;
}
h1 {color: blue;
}
nav {background-color: gray;
border: 3pt solid black;
text-align: center;
}
.High{color: red;
}
.Medium{color: orange;
}
.Low{color: yellow;
}
.Done{text-decoration:line-through;
}
