ul {
list-style-type: none;
}
body {background-color: blue;
border: 1 px solid black;
}
h1 {color: white;
}
nav {background-color: gray;
border: 1 px solid black;
text-align: center;
}
.High{color: red;
}
.Medium{color: orange;
}
.Low{color: yellow;
}
.Done{text-decoration:line-through;
}
